@mixin flex($direction,$wrap,$justify-content,$align-items,$align-content) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify-content;
    align-items: $align-items;
    align-content: $align-content;
}
@mixin text($xd-font-size,$font-family,$color) {
    font-size: $xd-font-size;
    font-family: $font-family;
    color: $color;
}
@mixin noselect() {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
@mixin normalTransition() {
    transition: ease all .26s;
} 