$primary: #2688FE;
$secondary: #252439;
$tertiary: #45456D;
$quaternary: #9797BA;
$quinary: #DEEDFF;
$senary: #F6F9FD;
$grey: #BDC2D0;
$lightGrey: #F8FAFD;

$TitleBold: 'Poppins-Bold';
$TitleRegular: 'Poppins-Regular';
$ContentMedium: Colfax-Medium;
$ContentRegular: Colfax-Regular;
$ContentLight: Colfax-Light;