//variables
$primary: #2688FE;
$secondary: #252439;
$tertiary: #45456D;
$quaternary: #9797BA;
$quinary: #DEEDFF;
$senary: #F6F9FD;
$grey: #BDC2D0;
$lightGrey: #F8FAFD;

$TitleBold: 'Poppins-Bold';
$TitleRegular: 'Poppins-Regular';
$ContentMedium: Colfax-Medium;
$ContentRegular: Colfax-Regular;
$ContentLight: Colfax-Light;
//mixins
@mixin flex($direction,$wrap,$justify-content,$align-items,$align-content) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify-content;
    align-items: $align-items;
    align-content: $align-content;
}
@mixin text($xd-font-size,$font-family,$color) {
    font-size: $xd-font-size;
    font-family: $font-family;
    color: $color;
}
@mixin noselect() {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
@mixin normalTransition() {
    transition: ease all .26s;
}
//main css
body {
    margin: 0;
    background: $senary;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
.noselect {
    @include noselect();
}
.App {
    width: 100%;
    height: 100%;
    @include flex(row,nowrap,space-between,flex-start,flex-start);
    @include normalTransition();
}
/* width */
* {
    ::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: change-color($color: $tertiary,$alpha: 0.0); 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: change-color($color: $quaternary,$alpha: 0.3);
        border-radius: 5px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
}
.Flipped
{
    direction: rtl;
}
.Content
{
    direction: ltr;
}

//themes
.light-theme {
    .left-side {background: white;}
    .right-side {background: $lightGrey;}
    .vertical-menu {.menu-item {color: $grey;}}
    .user-info {.user-name--size-big,.user-name--size-small {color: $secondary !important;}}
    .card-style {background: white;}
    .white-text-on-dark {color: inherit;}
    .today-date {color: $tertiary;}
    .task-item {background: white;color: black;.task-progress{opacity: .2;background-image: linear-gradient(270deg, #38F1AA 0%, #2B8EE9 100%);}}
    .mini-project-item {background: white;.mini-project-left{color:$secondary;}}
    .toggle-options {background: white;.toggle-option { color:$grey; &.active {color:$secondary;}}}
    .notif-item {color: $secondary !important;&.message {background: white;}}
    .current-task-background {background-image: linear-gradient(180deg, rgba(245,247,250,0.00) 0%, #F6F8FB 50%);}
}
.dark-theme {
    .left-side,.right-side {background: $tertiary;}
    .vertical-menu {.menu-item {color: white;}}
    .user-info {.user-name--size-big,.user-name--size-small {color: white !important;}}
    .card-style {background: $tertiary;}
    .white-text-on-dark {color: white;}
    .today-date {color: $quinary;}
    .task-item {background: $secondary;color: white !important;.task-progress{opacity: 1;background-image: linear-gradient(270deg, #38F1AA 0%, #2B8EE9 100%);}}
    .mini-project-item {background: $secondary;.mini-project-left{color:white;}}
    .toggle-options {background: $secondary;.toggle-option {color:$tertiary;&.active {color:white;}}}
    .notif-item {color: white !important;&.message {background: $secondary;}}
    .current-task-background {background-image: linear-gradient(180deg, rgba(69,69,109,0.00) 0%, $tertiary 50%);}
}
.left-side,.right-side {
    @include normalTransition();
    overflow-y: auto;
}
//main css styles
.left-side {
    padding: 33px;
    width: 250px;
    height: 100vh;
    position: relative;
}
.right-side {
    position: relative;
    box-shadow: 0 2px 13px 0 rgba(0,0,0,0.03);
    border-radius: 34px 0 0 34px;
    padding: 20px 20px 0px 20px;
    width: 270px;
    height: 100vh;
}
.user-info {
    @include flex(row,nowrap,flex-start,center,center);
    .user-name--size-big {
        @include text(.9rem,$TitleBold,$secondary);
    }
    .user-name--size-small {
        @include text(.65rem,$TitleBold,$secondary);
    }
    .user-role {
        @include text(.7rem,$TitleRegular,$grey);
    }
}
.vertical-menu {
    padding-top: 20px;
    height: 100%;
    @include flex(column,nowrap,space-between,flex-start,flex-start);
    .menu-item {
        width: 100%;
        cursor: pointer;
        @include flex(row,nowrap,flex-start,center,center);
        margin-top: 20px;
        @include normalTransition();
        .menu-title {
            font-family: $TitleRegular;
            font-size: .85rem;
            padding-left:8px;
        }
        &:hover,&.active {
            color: $primary;
        }
    }
}
.text-head-title {
    @include text(1.2rem,$TitleBold,$secondary);
}
.flex-row-space-between-center {
    @include flex(row,nowrap,space-between,center,center);
}

//select
.select {
    cursor: pointer;
    position: relative;
    background: $senary;
    border-radius: 6px;
    color: $secondary;
    .select-in {
        padding: 9px;
        @include flex(row,nowrap,center,center,center);
    }
    .title {
        font-family: $TitleBold;
        font-size: .8em;
        // color: $secondary;
        padding-right: 10px;
    }
    .value {
        font-family: $TitleRegular;
        font-size: .8em;
        // color: $secondary;
    }
    .select-icon {
        font-size: 1.1rem;
    }
    .select-options {
        // background: $senary;
        overflow: hidden;
        border-radius: 0 0 10px 10px;
        right: 0px;
        position:absolute;
        box-shadow: 0 22px 24px 0 rgba(0,0,0,0.03);
        margin-top: -5px;
        z-index: 111;
        .select-option {
            border-radius: 6px;
            margin-bottom:5px;
            margin-top:5px;
            margin-left:5px;
            // background-color: white !important;
            font-family: $TitleRegular;
            font-size: .75em;
            // color: $secondary;
            text-align: left !important;
            display: block !important;
            padding: 10px;
        }
    }
}
.toggle-theme-button {
    color: white;
    position: absolute;
    top: 20px;
    right: 0px;
    border-radius: 20px 0 0 20px;
    background: $grey;
    z-index: 11111;
    padding: 10px 10px 5px 10px;
    cursor: pointer;
    @include normalTransition();
    .toggle-theme-icon {
        font-size:1.2rem !important;
    }
    &:hover,&.active {
        background: $secondary;
        color: $senary;
    }
}
//Some cards :)
.card-style {
    background: white;
    display: inline-block;
}
.card-head-bar {
    @include flex(row,nowrap,space-between,center,center);
}
.card-head-actions {
    @include flex(row,nowrap,flex-end,center,center);
}
.card-head-title-box {
    @include flex(row,nowrap,flex-start,center,center);
}
.today-date {
    opacity: 0.32;
    font-family: $TitleRegular;
    font-size: .9rem;
}
//input
.date-input {
    cursor: pointer;
    position: relative;
    border-radius: 6px;
    padding: 9px;
    margin-right: 10px;
    @include flex(row,nowrap,flex-start,center,center);
    .date-icon {
        font-size: 1em;
        color: $grey;
    }
    input {
        font-family: $TitleRegular;
        font-size: .8em;
        border: 0;
        width: fit-content;
        text-align: right;
        outline: none;
        cursor: pointer;
        @include noselect();
        background: transparent;
        &::placeholder {
            color: inherit;
        }
    }
    .input-in {
        @include flex(row,nowrap,center,center,center);
    }
    .DayPickerInput {
        * {
            outline: none !important;
            font-family: $TitleRegular;
        }
        .DayPicker-Weekdays {
            font-size: .7rem;
        }
        .DayPicker-Body {
            font-size: .9rem;
        }
    }
    .DayPickerInput-Overlay {
        z-index: 11111;
        margin-top: 10px;
        box-shadow: 0 15px 30px 0 rgba(0,0,0,0.04);
        border-radius: 10px !important;
    }
}
//tasks
.tasks-title-bar {
    width: 100%;
    font-family: $TitleRegular;
    font-size: .7rem;
    color: $quaternary;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    @include flex(row,nowrap,flex-start,center,center);
    .title {width: 60%;text-align:left;}
    .project {width: 15%;text-align:center;}
    .duration {width: 15%;text-align:center;}
    .duration {width: 15%;text-align:center;}
    .action {width: 10%;text-align:center;}
}
.task-item {
    box-shadow: 0 22px 30px 0 rgba(0,0,0,0.025);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    height: 45px;
    @include normalTransition();
    &:hover {
        box-shadow: 0 22px 27px 0 rgba(0,0,0,0.06);
    }
    .task-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 11;
        padding-left: 20px;
        padding-right: 10px;
        @include flex(row,nowrap,flex-start,center,center);
        * {
            text-overflow: clip;
        }
        .task-title {
            cursor: pointer;
            width: 60%;
            font-family: $ContentMedium;
            font-size: .85rem;
        }
        .task-project {
            font-family: $ContentRegular;
            width: 15%;
            font-size: .8em;
            text-align: center;
        }
        .task-duration {
            font-family: $ContentRegular;
            width: 15%;
            font-size: .8em;
            text-align: center;
        }
        .task-action {
            font-family: $ContentRegular;
            width: 10%;
            @include flex(row,nowrap,center,center,center);
            .task-action-button {
                background: $quinary;
                color: $primary;

                border-radius: 30px;
                text-align: center;
                font-family: $TitleBold;
                font-size: .75em;
                padding: 5px 12px;
                &.normal-button {
                    cursor: pointer;
                    &:hover {
                        background: $primary;
                        color: white;
                    }
                }
                @include normalTransition();
                .check-icon {
                    margin-bottom: -4px;
                    font-size: .9rem;
                }
            }
        }
    }
    .task-progress {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 8px;
        z-index: 1;
    }
}
.chart-card {
    height: auto;
    .chart {
        font-family: $TitleRegular !important;
        width: 100%;
        height: 220px;
        margin-top:20px;
        margin-left: auto;
        margin-right: auto;
    }
}
.action-bar-card {
    width: 100%;
}
.tasks-list-card {
    width: 100%;
}
.column-items {
    width: 100%;
    @include flex(column,nowrap,space-between,baseline,baseline);
}
.row-items {
    width: 100%;
    @include flex(row,nowrap,space-between,baseline,baseline);
}
.half-card {
    width: calc(50% - 10px);
}

//projects
.mini-project-item {
    @include flex(row,nowrap,space-between,center,center);
    padding: 9px;
    width: 100%;
    box-shadow: 0 22px 30px 0 rgba(0, 0, 0, 0.025);
    margin-top: 10px;
    border-radius: 12px;
    @include normalTransition();
    cursor: pointer;
    &:hover {
        box-shadow: 0 22px 27px 0 rgba(0,0,0,0.06);
    }
    .mini-project-left {
        @include flex(row,nowrap,flex-start,center,center);
        color: $secondary;
        .project-logo {
            width: 45px;
            height: 45px; 
            border-radius: 8px;
            background-color: $grey;
            background-size: cover;
            background-position: center;
        }
        .project-details {
            @include flex(column,nowrap,center,flex-start,center);
            padding-left: 10px;
            .project-title {
                font-family: $TitleBold;
                font-size: .8rem;
                padding-bottom: 2px;
            }
            .project-detail-line {
                @include flex(row,nowrap,flex-start,center,center);
                font-family: $TitleRegular;
                font-size: .6rem;
                .title {
                    opacity: .5;
                    padding-right: 4px;
                }
            }
        }
    }
    .mini-project-progress-percentage {
        font-family: $TitleBold;
        font-size: 1rem;
        color: #2688FE;
        text-align: right;
        padding-right: 10px;
    }
}
//right side
.toggle-options {
    border-radius: 20px;
    overflow: hidden;
    @include flex(row,nowrap,space-between,center,center);
    .toggle-option {
        cursor: pointer;
        font-family: $TitleBold;
        font-size: .7rem;
        color: $grey;
        flex: 1;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        @include normalTransition();
        &:hover {
            color: $quaternary;
        }
    }
}
//notification center
.notif-toggle-options {
    position: sticky;
    top: 0;
    z-index: 1111;
}
.notif-title-date {
    font-family: $TitleRegular;
    font-size: .9rem;
    color: $grey;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.notif-item {
    box-shadow: 0 22px 34px 0 rgba(0,0,0,0.02);
    border-radius: 14px;
    padding: 12px;
    margin-bottom: 13px;
    .notif-title-bar {
        @include flex(row,nowrap,space-between,center,center);
        .notif-date {
            font-family: $TitleRegular;
            font-size: .6rem;
            color: $quaternary;
        }      
    }
    .notif-image {
        margin-top: 10px;
        width: 100%;
        height: auto;
        border-radius: 6px;
        box-shadow: 0 22px 34px 0 rgba(0,0,0,0.02);
    }
    .notif-content {
        padding-top: 7px;
        padding-bottom: 0px;
        font-family: $ContentLight;
        font-size: .7rem;
        line-height: 15px;
        letter-spacing: .4px;
    }
    &.event {
        background: $primary;
        .title {
            font-family: $ContentMedium;
            font-size: .75rem;
            color: white;
        }
        .date {
            font-family: $TitleRegular;
            font-size: .6rem;
            color: $lightGrey;
            padding-top: 3px;
        }  
    }
}
//current task
.current-task-background {
    height: 140px;
    @include normalTransition();
    width: 100%;
    position: sticky;
    bottom: 0;
    left: 0;
    @include flex(column,nowrap,flex-end,center,center);
    .current-task-item {
        @include flex(row,nowrap,flex-start,center,center);
        background: $primary;
        border-radius: 40px;
        padding: 15px;
        height: 70px;
        width: 100%;
        margin-bottom: 20px;
        .current-task-details {
            padding-left: 13px;
            @include flex(column,nowrap,center,flex-start,center);
            color: white;
            .current-task-project-name {
                opacity: 0.32;
                font-family: $TitleBold;
                font-size: .6rem;
            }
            .current-task-name {
                font-family: $TitleBold;
                font-size: .7rem;
            }
            .current-task-timestamp {
                font-family: $TitleRegular;
                font-size: .8rem;
            }
        }
        .task-progress-box {
            position: relative;
            width: 40px;
            height: 40px;
            cursor: pointer;
            @include normalTransition();
            &:hover {
                box-shadow: 0 15px 30px 0 rgba(0,0,0,0.15);
                border-radius: 100%;
            }
            .task-progress-action {
                position: absolute;
                width: 100%;
                height: 100%;
                text-align: center;
                @include flex(row,nowrap,center,center,center);
                .icon {
                    margin-left: -1px;
                    margin-top: -2px;
                    color: white; 
                    font-size: 15px;
                    text-align: center;
                }
            }
            .task-circular-progress {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }
}