body {
  margin: 0;
  background: #F6F9FD;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.App {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-transition: ease all .26s;
  transition: ease all .26s;
}

/* width */
* {
  /* Track */
  /* Handle */
  /* Handle on hover */
}

* ::-webkit-scrollbar {
  width: 5px;
}

* ::-webkit-scrollbar-track {
  background: rgba(69, 69, 109, 0);
}

* ::-webkit-scrollbar-thumb {
  background: rgba(151, 151, 186, 0.3);
  border-radius: 5px;
}

* ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Flipped {
  direction: rtl;
}

.Content {
  direction: ltr;
}

.light-theme .left-side {
  background: white;
}

.light-theme .right-side {
  background: #F8FAFD;
}

.light-theme .vertical-menu .menu-item {
  color: #BDC2D0;
}

.light-theme .user-info .user-name--size-big, .light-theme .user-info .user-name--size-small {
  color: #252439 !important;
}

.light-theme .card-style {
  background: white;
}

.light-theme .white-text-on-dark {
  color: inherit;
}

.light-theme .today-date {
  color: #45456D;
}

.light-theme .task-item {
  background: white;
  color: black;
}

.light-theme .task-item .task-progress {
  opacity: .2;
  background-image: -webkit-gradient(linear, right top, left top, from(#38F1AA), to(#2B8EE9));
  background-image: linear-gradient(270deg, #38F1AA 0%, #2B8EE9 100%);
}

.light-theme .mini-project-item {
  background: white;
}

.light-theme .mini-project-item .mini-project-left {
  color: #252439;
}

.light-theme .toggle-options {
  background: white;
}

.light-theme .toggle-options .toggle-option {
  color: #BDC2D0;
}

.light-theme .toggle-options .toggle-option.active {
  color: #252439;
}

.light-theme .notif-item {
  color: #252439 !important;
}

.light-theme .notif-item.message {
  background: white;
}

.light-theme .current-task-background {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 247, 250, 0)), color-stop(50%, #F6F8FB));
  background-image: linear-gradient(180deg, rgba(245, 247, 250, 0) 0%, #F6F8FB 50%);
}

.dark-theme .left-side, .dark-theme .right-side {
  background: #45456D;
}

.dark-theme .vertical-menu .menu-item {
  color: white;
}

.dark-theme .user-info .user-name--size-big, .dark-theme .user-info .user-name--size-small {
  color: white !important;
}

.dark-theme .card-style {
  background: #45456D;
}

.dark-theme .white-text-on-dark {
  color: white;
}

.dark-theme .today-date {
  color: #DEEDFF;
}

.dark-theme .task-item {
  background: #252439;
  color: white !important;
}

.dark-theme .task-item .task-progress {
  opacity: 1;
  background-image: -webkit-gradient(linear, right top, left top, from(#38F1AA), to(#2B8EE9));
  background-image: linear-gradient(270deg, #38F1AA 0%, #2B8EE9 100%);
}

.dark-theme .mini-project-item {
  background: #252439;
}

.dark-theme .mini-project-item .mini-project-left {
  color: white;
}

.dark-theme .toggle-options {
  background: #252439;
}

.dark-theme .toggle-options .toggle-option {
  color: #45456D;
}

.dark-theme .toggle-options .toggle-option.active {
  color: white;
}

.dark-theme .notif-item {
  color: white !important;
}

.dark-theme .notif-item.message {
  background: #252439;
}

.dark-theme .current-task-background {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(69, 69, 109, 0)), color-stop(50%, #45456D));
  background-image: linear-gradient(180deg, rgba(69, 69, 109, 0) 0%, #45456D 50%);
}

.left-side, .right-side {
  -webkit-transition: ease all .26s;
  transition: ease all .26s;
  overflow-y: auto;
}

.left-side {
  padding: 33px;
  width: 250px;
  height: 100vh;
  position: relative;
}

.right-side {
  position: relative;
  -webkit-box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.03);
  border-radius: 34px 0 0 34px;
  padding: 20px 20px 0px 20px;
  width: 270px;
  height: 100vh;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.user-info .user-name--size-big {
  font-size: 0.9rem;
  font-family: "Poppins-Bold";
  color: #252439;
}

.user-info .user-name--size-small {
  font-size: 0.65rem;
  font-family: "Poppins-Bold";
  color: #252439;
}

.user-info .user-role {
  font-size: 0.7rem;
  font-family: "Poppins-Regular";
  color: #BDC2D0;
}

.vertical-menu {
  padding-top: 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.vertical-menu .menu-item {
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 20px;
  -webkit-transition: ease all .26s;
  transition: ease all .26s;
}

.vertical-menu .menu-item .menu-title {
  font-family: "Poppins-Regular";
  font-size: .85rem;
  padding-left: 8px;
}

.vertical-menu .menu-item:hover, .vertical-menu .menu-item.active {
  color: #2688FE;
}

.text-head-title {
  font-size: 1.2rem;
  font-family: "Poppins-Bold";
  color: #252439;
}

.flex-row-space-between-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.select {
  cursor: pointer;
  position: relative;
  background: #F6F9FD;
  border-radius: 6px;
  color: #252439;
}

.select .select-in {
  padding: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.select .title {
  font-family: "Poppins-Bold";
  font-size: .8em;
  padding-right: 10px;
}

.select .value {
  font-family: "Poppins-Regular";
  font-size: .8em;
}

.select .select-icon {
  font-size: 1.1rem;
}

.select .select-options {
  overflow: hidden;
  border-radius: 0 0 10px 10px;
  right: 0px;
  position: absolute;
  -webkit-box-shadow: 0 22px 24px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 22px 24px 0 rgba(0, 0, 0, 0.03);
  margin-top: -5px;
  z-index: 111;
}

.select .select-options .select-option {
  border-radius: 6px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  font-family: "Poppins-Regular";
  font-size: .75em;
  text-align: left !important;
  display: block !important;
  padding: 10px;
}

.toggle-theme-button {
  color: white;
  position: absolute;
  top: 20px;
  right: 0px;
  border-radius: 20px 0 0 20px;
  background: #BDC2D0;
  z-index: 11111;
  padding: 10px 10px 5px 10px;
  cursor: pointer;
  -webkit-transition: ease all .26s;
  transition: ease all .26s;
}

.toggle-theme-button .toggle-theme-icon {
  font-size: 1.2rem !important;
}

.toggle-theme-button:hover, .toggle-theme-button.active {
  background: #252439;
  color: #F6F9FD;
}

.card-style {
  background: white;
  display: inline-block;
}

.card-head-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card-head-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card-head-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.today-date {
  opacity: 0.32;
  font-family: "Poppins-Regular";
  font-size: .9rem;
}

.date-input {
  cursor: pointer;
  position: relative;
  border-radius: 6px;
  padding: 9px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.date-input .date-icon {
  font-size: 1em;
  color: #BDC2D0;
}

.date-input input {
  font-family: "Poppins-Regular";
  font-size: .8em;
  border: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  outline: none;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  background: transparent;
}

.date-input input::-webkit-input-placeholder {
  color: inherit;
}

.date-input input:-ms-input-placeholder {
  color: inherit;
}

.date-input input::-ms-input-placeholder {
  color: inherit;
}

.date-input input::placeholder {
  color: inherit;
}

.date-input .input-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.date-input .DayPickerInput * {
  outline: none !important;
  font-family: "Poppins-Regular";
}

.date-input .DayPickerInput .DayPicker-Weekdays {
  font-size: .7rem;
}

.date-input .DayPickerInput .DayPicker-Body {
  font-size: .9rem;
}

.date-input .DayPickerInput-Overlay {
  z-index: 11111;
  margin-top: 10px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.04);
  border-radius: 10px !important;
}

.tasks-title-bar {
  width: 100%;
  font-family: "Poppins-Regular";
  font-size: .7rem;
  color: #9797BA;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tasks-title-bar .title {
  width: 60%;
  text-align: left;
}

.tasks-title-bar .project {
  width: 15%;
  text-align: center;
}

.tasks-title-bar .duration {
  width: 15%;
  text-align: center;
}

.tasks-title-bar .duration {
  width: 15%;
  text-align: center;
}

.tasks-title-bar .action {
  width: 10%;
  text-align: center;
}

.task-item {
  -webkit-box-shadow: 0 22px 30px 0 rgba(0, 0, 0, 0.025);
          box-shadow: 0 22px 30px 0 rgba(0, 0, 0, 0.025);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  height: 45px;
  -webkit-transition: ease all .26s;
  transition: ease all .26s;
}

.task-item:hover {
  -webkit-box-shadow: 0 22px 27px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 22px 27px 0 rgba(0, 0, 0, 0.06);
}

.task-item .task-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  padding-left: 20px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.task-item .task-container * {
  text-overflow: clip;
}

.task-item .task-container .task-title {
  cursor: pointer;
  width: 60%;
  font-family: Colfax-Medium;
  font-size: .85rem;
}

.task-item .task-container .task-project {
  font-family: Colfax-Regular;
  width: 15%;
  font-size: .8em;
  text-align: center;
}

.task-item .task-container .task-duration {
  font-family: Colfax-Regular;
  width: 15%;
  font-size: .8em;
  text-align: center;
}

.task-item .task-container .task-action {
  font-family: Colfax-Regular;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.task-item .task-container .task-action .task-action-button {
  background: #DEEDFF;
  color: #2688FE;
  border-radius: 30px;
  text-align: center;
  font-family: "Poppins-Bold";
  font-size: .75em;
  padding: 5px 12px;
  -webkit-transition: ease all .26s;
  transition: ease all .26s;
}

.task-item .task-container .task-action .task-action-button.normal-button {
  cursor: pointer;
}

.task-item .task-container .task-action .task-action-button.normal-button:hover {
  background: #2688FE;
  color: white;
}

.task-item .task-container .task-action .task-action-button .check-icon {
  margin-bottom: -4px;
  font-size: .9rem;
}

.task-item .task-progress {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  z-index: 1;
}

.chart-card {
  height: auto;
}

.chart-card .chart {
  font-family: "Poppins-Regular" !important;
  width: 100%;
  height: 220px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.action-bar-card {
  width: 100%;
}

.tasks-list-card {
  width: 100%;
}

.column-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
}

.row-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
}

.half-card {
  width: calc(50% - 10px);
}

.mini-project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 9px;
  width: 100%;
  -webkit-box-shadow: 0 22px 30px 0 rgba(0, 0, 0, 0.025);
          box-shadow: 0 22px 30px 0 rgba(0, 0, 0, 0.025);
  margin-top: 10px;
  border-radius: 12px;
  -webkit-transition: ease all .26s;
  transition: ease all .26s;
  cursor: pointer;
}

.mini-project-item:hover {
  -webkit-box-shadow: 0 22px 27px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 22px 27px 0 rgba(0, 0, 0, 0.06);
}

.mini-project-item .mini-project-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #252439;
}

.mini-project-item .mini-project-left .project-logo {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  background-color: #BDC2D0;
  background-size: cover;
  background-position: center;
}

.mini-project-item .mini-project-left .project-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-left: 10px;
}

.mini-project-item .mini-project-left .project-details .project-title {
  font-family: "Poppins-Bold";
  font-size: .8rem;
  padding-bottom: 2px;
}

.mini-project-item .mini-project-left .project-details .project-detail-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: "Poppins-Regular";
  font-size: .6rem;
}

.mini-project-item .mini-project-left .project-details .project-detail-line .title {
  opacity: .5;
  padding-right: 4px;
}

.mini-project-item .mini-project-progress-percentage {
  font-family: "Poppins-Bold";
  font-size: 1rem;
  color: #2688FE;
  text-align: right;
  padding-right: 10px;
}

.toggle-options {
  border-radius: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.toggle-options .toggle-option {
  cursor: pointer;
  font-family: "Poppins-Bold";
  font-size: .7rem;
  color: #BDC2D0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-transition: ease all .26s;
  transition: ease all .26s;
}

.toggle-options .toggle-option:hover {
  color: #9797BA;
}

.notif-toggle-options {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1111;
}

.notif-title-date {
  font-family: "Poppins-Regular";
  font-size: .9rem;
  color: #BDC2D0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.notif-item {
  -webkit-box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.02);
  border-radius: 14px;
  padding: 12px;
  margin-bottom: 13px;
}

.notif-item .notif-title-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.notif-item .notif-title-bar .notif-date {
  font-family: "Poppins-Regular";
  font-size: .6rem;
  color: #9797BA;
}

.notif-item .notif-image {
  margin-top: 10px;
  width: 100%;
  height: auto;
  border-radius: 6px;
  -webkit-box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.02);
}

.notif-item .notif-content {
  padding-top: 7px;
  padding-bottom: 0px;
  font-family: Colfax-Light;
  font-size: .7rem;
  line-height: 15px;
  letter-spacing: .4px;
}

.notif-item.event {
  background: #2688FE;
}

.notif-item.event .title {
  font-family: Colfax-Medium;
  font-size: .75rem;
  color: white;
}

.notif-item.event .date {
  font-family: "Poppins-Regular";
  font-size: .6rem;
  color: #F8FAFD;
  padding-top: 3px;
}

.current-task-background {
  height: 140px;
  -webkit-transition: ease all .26s;
  transition: ease all .26s;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.current-task-background .current-task-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #2688FE;
  border-radius: 40px;
  padding: 15px;
  height: 70px;
  width: 100%;
  margin-bottom: 20px;
}

.current-task-background .current-task-item .current-task-details {
  padding-left: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
}

.current-task-background .current-task-item .current-task-details .current-task-project-name {
  opacity: 0.32;
  font-family: "Poppins-Bold";
  font-size: .6rem;
}

.current-task-background .current-task-item .current-task-details .current-task-name {
  font-family: "Poppins-Bold";
  font-size: .7rem;
}

.current-task-background .current-task-item .current-task-details .current-task-timestamp {
  font-family: "Poppins-Regular";
  font-size: .8rem;
}

.current-task-background .current-task-item .task-progress-box {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: ease all .26s;
  transition: ease all .26s;
}

.current-task-background .current-task-item .task-progress-box:hover {
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
  border-radius: 100%;
}

.current-task-background .current-task-item .task-progress-box .task-progress-action {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.current-task-background .current-task-item .task-progress-box .task-progress-action .icon {
  margin-left: -1px;
  margin-top: -2px;
  color: white;
  font-size: 15px;
  text-align: center;
}

.current-task-background .current-task-item .task-progress-box .task-circular-progress {
  position: absolute;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=App.css.map */