//variables
$primary: #2688FE;
$secondary: #252439;
$tertiary: #45456D;
$quaternary: #9797BA;
$quinary: #DEEDFF;
$senary: #F6F9FD;
$grey: #BDC2D0;
$lightGrey: #F8FAFD;

$TitleBold: 'Poppins-Bold';
$TitleRegular: 'Poppins-Regular';

//mixins
@mixin flex($direction,$wrap,$justify-content,$align-items,$align-content) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify-content;
    align-items: $align-items;
    align-content: $align-content;
}
@mixin text($xd-font-size,$font-family,$color) {
    font-size: $xd-font-size;
    font-family: $font-family;
    color: $color;
}
@mixin noselect() {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
//main css
body {
    margin: 0;
    background: $senary;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
.App {
    width: 100%;
    height: 100%;
    @include flex(row,nowrap,space-between,flex-start,flex-start);
    transition: ease all .3s;
}
.light-theme {
    .left-side {
        background: white;
    }
    .right-side {
        background: $lightGrey;
    }
    .vertical-menu {
        .menu-item {
            color: $grey;
        }
    }
    .user-info {
        .user-name--size-big {
            color: $secondary !important;
        }
    }
    .card-style {
        background: white;
    }
    .white-text-on-dark {
        color: inherit;
    }
    .today-date {
        color: $tertiary;
    }
}
.dark-theme {
    .left-side,.right-side {
        background: $tertiary;
    }
    .vertical-menu {
        .menu-item {
            color: white;
        }
    }
    .user-info {
        .user-name--size-big {
            color: white !important;
        }
    }
    .card-style {
        background: $tertiary;
    }
    .white-text-on-dark {
        color: white;
    }
    .today-date {
        color: $quinary;
    }
}
.left-side,.right-side {
    transition: ease all .3s;
}
.left-side {
    padding: 33px;
    width: 250px;
    height: 100vh;
    position: relative;
}
.right-side {
    box-shadow: 0 2px 13px 0 rgba(0,0,0,0.03);
    border-radius: 34px 0 0 34px;
    padding: 20px;
    width: 270px;
    height: 100vh;
}
.user-info {
    @include flex(row,nowrap,flex-start,center,center);
    .user-name--size-big {
        @include text(.9rem,$TitleBold,$secondary);
    }
    .user-role {
        @include text(.7rem,$TitleRegular,$grey);
    }
}
.vertical-menu {
    padding-top: 20px;
    height: 100%;
    @include flex(column,nowrap,space-between,flex-start,flex-start);
    .menu-item {
        width: 100%;
        cursor: pointer;
        @include flex(row,nowrap,flex-start,center,center);
        margin-top: 20px;
        transition: ease all .3s;
        .menu-title {
            font-family: $TitleRegular;
            font-size: .85rem;
            padding-left:8px;
        }
        &:hover,&.active {
            color: $primary;
        }
    }
}
.text-head-title {
    @include text(1.2rem,$TitleBold,$secondary);
}
.flex-row-space-between-center {
    @include flex(row,nowrap,space-between,center,center);
}

//select
.select {
    cursor: pointer;
    position: relative;
    background: $senary;
    border-radius: 6px;
    color: $secondary;
    .select-in {
        padding: 9px;
        @include flex(row,nowrap,center,center,center);
    }
    .title {
        font-family: $TitleBold;
        font-size: .8em;
        // color: $secondary;
        padding-right: 10px;
    }
    .value {
        font-family: $TitleRegular;
        font-size: .8em;
        // color: $secondary;
    }
    .select-icon {
        font-size: 1.1rem;
    }
    .select-options {
        // background: $senary;
        overflow: hidden;
        border-radius: 0 0 10px 10px;
        right: 0px;
        position:absolute;
        box-shadow: 0 22px 24px 0 rgba(0,0,0,0.03);
        margin-top: -5px;
        z-index: 111;
        .select-option {
            border-radius: 6px;
            margin-bottom:5px;
            margin-top:5px;
            margin-left:5px;
            // background-color: white !important;
            font-family: $TitleRegular;
            font-size: .75em;
            // color: $secondary;
            text-align: left !important;
            display: block !important;
            padding: 10px;
        }
    }
}
.toggle-theme-button {
    color: white;
    position: absolute;
    top: 20px;
    right: 0px;
    border-radius: 20px 0 0 20px;
    background: $grey;
    z-index: 11111;
    padding: 10px 10px 5px 10px;
    cursor: pointer;
    transition: ease all .2s;
    .toggle-theme-icon {
        font-size:1.2rem !important;
    }
    &:hover,&.active {
        background: $secondary;
        color: $senary;
    }
}
//Some cards :)
.card-style {
    background: white;
}
.card-head-bar {
    @include flex(row,nowrap,space-between,center,center);
}
.card-head-actions {
    @include flex(row,nowrap,flex-end,center,center);
}
.card-head-title-box {
    @include flex(row,nowrap,flex-start,center,center);
}
.today-date {
    opacity: 0.32;
    font-family: $TitleRegular;
    font-size: .9rem;
}
//input
.date-input {
    cursor: pointer;
    position: relative;
    border-radius: 6px;
    padding: 9px;
    margin-right: 10px;
    @include flex(row,nowrap,flex-start,center,center);
    .date-icon {
        font-size: 1em;
        color: $grey;
    }
    input {
        font-family: $TitleRegular;
        font-size: .8em;
        border: 0;
        width: fit-content;
        text-align: right;
        outline: none;
        cursor: pointer;
        @include noselect();
        background: transparent;
    }
    .input-in {
        @include flex(row,nowrap,center,center,center);
    }
    .DayPickerInput {
        * {
            outline: none !important;
            font-family: $TitleRegular;
        }
        .DayPicker-Weekdays {
            font-size: .7rem;
        }
        .DayPicker-Body {
            font-size: .9rem;
        }
    }
    .DayPickerInput-Overlay {
        margin-top: 10px;
        box-shadow: 0 15px 30px 0 rgba(0,0,0,0.04);
        border-radius: 10px !important;
    }
}